body {
  font-family: Trebuchet MS, Verdana, Geneva, sans-serif;
  overflow: hidden;
}

button {
  background-color: #101820FF;
  border: 1px solid #AE0E36FF;
  color: #AE0E36FF;
  font-size: 1rem;
  height: 2rem;
  width: 7rem;
}

button:hover {
  cursor: pointer;
}

h1 {
  color: #A59C94FF;
  font-size: 3rem;
}

h3 {
  bottom: 0;
  color: #A59C94FF;
  font-size: small;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

table {
  margin-top: 3rem;
  width: 100%;
}

th {
  color: #101820FF;
  font-size: larger;
  font-weight: bold;
}

img {
  padding: 10px;
  width: 3rem;
}

td img {
 filter: drop-shadow(5px 5px 5px #222);
}

section {
  height: calc(100vh - 14em);
  padding: 7em;
  position: relative;
  scroll-snap-align: start;
  overflow: hidden;
}

section:nth-of-type(1) {
  background: #101820FF;
}
section:nth-of-type(2) {
  background: #AE0E36FF;
}
section:nth-of-type(3) {
  background: #101820FF;
}
section:nth-of-type(4) {
  background: #AE0E36FF;
}

.section-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
}

.scroll {
  margin-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}

.exp-years {
  margin-top: -1rem;
  position: relative;
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13rem;
}

.skills-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-button {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.title-container {
  animation: 1s ease-out 0.7s 1 slideUp;
  animation-fill-mode: forwards;
}

.hi {
  display: inline-block;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.name {
  color: #AE0E36FF;
  display: inline-block;
  padding-left: 1rem;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.code {
  font-family: "Courier New", Courier, monospace;
}

.img-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6rem;
}

.charts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.chart {
  text-align: center;
  color: #A59C94FF;
}

.about-me {
  align-items: center;
  color: #A59C94FF;
  display: flexbox;
  font-size: large;
  justify-content: center;
  opacity: 0;
  text-align: center;
  animation: 1s ease-in 1.5s 1 fadeIn;
  animation-fill-mode: forwards;
}

#important-text {
  color: #AE0E36FF;
}

#skills {
  color: #101820FF;
}

#experience {
  color: #AE0E36FF;
}

#education {
  color: #101820FF;
}

#tw {
  width: 30px;
  margin-left: 5px;
}

#wp {
  width: 22px;
}

#gh {
  width: 38px;
}

#ts-logo {
  margin-left: -0.4rem;
  width: 3.9rem;
}

#phoenix-logo {
  margin-left: -0.4rem;
  width: 4rem;
}

#appium-logo {
  margin-left: -0.4rem;
  width: 4rem;
}

#gh-logo {
  margin-left: -0.4rem;
  width: 3.8rem;
}

/* 
Animations
*/

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  100% {
    margin-top: -10rem;
    margin-bottom: 4rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 
Screen size changes
*/

@media only screen and (max-width: 900px) {
  .ambrit {
    margin-top: -2rem;
  }

  .chart {
    margin-right: -2rem;
  }
}

@media only screen and (max-width: 700px) {
  th {    
    font-size: large;
  }

  td img {
    width: 2.5rem;
  }

  h2 {
    font-size: large;
  }
  
  .about-me {
    margin-top: -2rem;
  }

  #ts-logo {
    margin-left: -0.4rem;
    width: 3.2rem;
  }
  
  #phoenix-logo {
    margin-left: -0.4rem;
    width: 3.5rem;
  }
  
  #appium-logo {
    margin-left: -0.4rem;
    width: 3.2rem;
  }
  
  #gh-logo {
    margin-left: -0.4rem;
    width: 3.3rem;
  }
}

@media only screen and (max-width: 600px) {
  th {    
    font-size: medium;
  }

  td img {
    width: 2rem;
  }

  .about-me {
    margin-top: -4rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  #ts-logo {
    margin-left: -0.4rem;
    width: 2.6rem;
  }
  
  #phoenix-logo {
    margin-left: -0.4rem;
    width: 2.7rem;
  }
  
  #appium-logo {
    margin-left: -0.4rem;
    width: 2.6rem;
  }
  
  #gh-logo {
    margin-left: -0.4rem;
    width: 2.9rem;
  }
}

@media only screen and (max-width: 560px) {
  .main-text {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  .main-text {
    margin-left: -3rem;
    margin-right: -3rem;
  }

  table {
    transform: rotate(90deg);
  }

  th {
    font-size: 0.7rem;
    padding: 0.2rem;
    text-align: center;
    transform: rotate(-90deg);
  }

  td img{
    transform: rotate(-90deg);
  }

  .about-me {
    margin-top: -4rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .charts {
    flex-direction: column;
    margin-top: -1rem;
    margin-left: -2rem;
  }

  .ambrit {
    margin-top: 1.5rem;
  }

  .apexcharts-legend {
    text-align: left;
  }

  #ts-logo {
    margin-left: 0rem;
  }
  
  #phoenix-logo {
    margin-left: 0.1rem;
  }
  
  #gh-logo {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 400px) {
  .main-text {
    margin-left: -4rem;
    margin-right: -4rem;
  }

  .hi,
  .name {
    font-size: xx-large;
  }

  .about-me {
    margin-left: -4rem;
    margin-right: -4rem;
  }

  h2 {
    font-size: medium;
  }

  .exp-years { 
    margin-top: -0.5rem;
  }

  .ambrit {
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 330px) {
  h1 {
    font-size: 2rem;
  }

  button {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .main-text {
    margin-left: -6rem;
    margin-right: -6rem;
  }

  th {
    font-size: 0.4;
    padding: 0;
    transform: rotate(0deg);
  }

  /* .charts {
    margin-left: 2rem;
  } */
}

@media only screen and (max-width: 300px) {
  section {
    overflow-x: scroll;
  }

  td img {
    width: 1.5rem;
  }

  .about-me {
    font-size: small;
    margin-top: -2rem;
    margin-left: -4rem;
    margin-right: -4rem;
  }

  #ts-logo {
    margin-left: -0.4rem;
    width: 2rem;
  }
  
  #phoenix-logo {
    margin-left: -0.5rem;
    width: 2.3rem;
  }
  
  #appium-logo {
    margin-left: -0.4rem;
    width: 2.1rem;
  }
  
  #gh-logo {
    margin-left: -0.4rem;
    width: 2.4rem;
  }
}

